<section class="probootstrap-cover relative background-grey">
  <div class="container">
    <div class="row align-items-center text-center">
      <div class="col-md">
        <h1 class="border-bottom">New <%= typeof type != 'undefined' ? type : '' %> issue</h1>
      </div>
    </div>
    <div class="box-new">
      <div class="col-xs-12 col-sm-4 col-sm-offset-2">
        <form action="/issue/new" method="POST" id="issue-form">
          <% if(typeof stations != 'undefined') { %>
            <div class="row box-new">
              <div class="input-group">
                <select class="form-control" name="referenceId">
                  <% stations.forEach(station => { %>
                    <option value="<%= station.id %>"><%= station.name %></option>
                  <% }) %>
                </select>
              </div>
            </div>
            <input type="hidden" name="type" value="station">
          <% }
          else { %>
          <div class="row box-new">
            <div class="input-group">
              <input type="number" name="referenceId" class="form-control" placeholder="Bike reference" required>
            </div>
          </div>
          <input type="hidden" name="type" value="bike">
          <% } %>
          <div class="row box-new">
            <div class="input-group">
              <textarea rows="4" cols="100" name="message" form="issue-form" placeholder="Enter issue here..."></textarea>
            </div>
          </div>
          <div class="row">
            <div class="form-actions">
              <button type="submit" class="btn btn-block btn-success">Create issue</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
