<section class="probootstrap-cover relative background-grey">
  <div class="container">
    <div class="row align-items-center text-center reduce-margin-bottop">
      <div class="col-md">
        <h1 class="border-bottom">Select Issue Type</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <a href="/issue/new/station"><button class="btn-lg btn-block btn-primary">Station</button></a>
      </div>
      <div class="col">
        <a href="/issue/new/bike"><button class="btn-lg btn-block btn-primary">Bike</button></a>
      </div>
    </div>
  </div>
</section>
