<h2>Select Issue Type</h2>

<div class="row">
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <a href="/issue/new/station"><button class="btn-lg btn-block btn-primary">Station</button></a>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">

    </div>
    <div class="col-xs-12 col-sm-4 col-sm-offset-4">
        <a href="/issue/new/bike"><button class="btn-lg btn-block btn-primary">Bike</button></a>
    </div>
</div>
