<section class="background-error">
  <img src="/images/error.gif" height="100%" frameBorder="0" allowFullScreen>
  <div class="message-error">
      <h1 class="text-white">404</h1>
      <h2 class="text-white">There's nothing here.</h2>
      <a href="/" class="btn btn-light">Back to the homepage</a>
  </div>
</section>
