
  <section>
    <div id="map">
  </section>
  <section class="probootstrap-cover overflow-hidden relative" id="section-home">

    <div class="container">
      <div class="row align-items-center">
        <div class="col-md">
          <h2 class="heading mb-2 display-4 font-light probootstrap-animate">Explore The World With Ease</h2>
          <p class="lead mb-5 probootstrap-animate">


          </p>
            <a href="onepage.html" role="button" class="btn btn-primary p-3 mr-3 pl-5 pr-5 text-uppercase d-lg-inline d-md-inline d-sm-block d-block mb-3">See OnePage Verion</a>
          </p>
        </div>
      </div>
    </div>

  </section>

  <script src="/javascripts/station_seeds.json"></script>
  <script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
  <script src="/javascripts/application.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-ESQGMZa8GDXZrIg826Xo9Rh9QI34SGE&callback=initialize"></script>
