<!-- KEY GOOGLE MAPS: AIzaSyD-ESQGMZa8GDXZrIg826Xo9Rh9QI34SGE -->

  <section class="container">
    <div id="map"/>
  </section>

  <script src="/javascripts/station_seeds.json"></script>
  <script src="/javascripts/chart-markerclusterer.js"></script>
  <script src="/javascripts/application.js"></script>
  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD-ESQGMZa8GDXZrIg826Xo9Rh9QI34SGE&callback=initialize"></script>
