<html>
  <head>
    <title>bicihack</title>
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="/css/bootstrap/bootstrap.css">
    <link rel="stylesheet" href="/fonts/fontawesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/fonts/ionicons/css/ionicons.min.css">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-white probootstrap_navbar background-nav">
      <div class="container">
        <a class="navbar-brand" href="/"><img alt="Brand" src="/images/brand.png" width="50px" height="auto">bicihack</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#probootstrap-menu" aria-controls="probootstrap-menu" aria-expanded="false" aria-label="Toggle navigation">
          <span><i class="ion-navicon"></i></span>
        </button>
        <div class="collapse navbar-collapse" id="probootstrap-menu">
          <ul class="navbar-nav ml-auto">
            <% if(typeof loggedUser !== 'undefined') { %>
              <li class="nav-item"><a class="nav-link" href="/user/<%= loggedUser._id %>">My profile</a></li>
              <li class="nav-item"><a class="nav-link" href="/issue/myIssues">My issues</a></li>
              <li class="nav-item"><a class="nav-link" href="/issue/new">Create issue</a></li>
              <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
            <% } %>
          </ul>
        </div>
      </div>
    </nav>

    <%- body %>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
    crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
