<html>
    <head>
        <title>bicihack</title>
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
            crossorigin="anonymous">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
            crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css"/>
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="/">
                        <img alt="Brand" src="/images/brand.png" width="50px" height="auto">
                    </a>
                </div>
                <div class="col-md-6">
                    <h1>BiciHack</h1>
                </div>

                <ul class="nav nav-pills">
                    <% if(typeof loggedUser === 'undefined') { %>
                    <li><a href="/signup" class="navbar-right"><button type="button" class="btn btn-success navbar-btn">Signup</button></a></li> 
                    <li><a href="/login" class="navbar-right"><button type="button" class="btn btn-primary navbar-btn">Login</button></a></li> 
                    <% } %>
                    <% if(typeof loggedUser !== 'undefined') { %>
                    <li><a href="/issue/list" class="navbar-right"><button type="button" class="btn btn-primary navbar-btn">My issues</button></a></li>     
                    <li><a href="/issue/search" class="navbar-right"><button type="button" class="btn btn-primary navbar-btn">Search issue</button></a></li>     
                    <li><a href="/issue/new" class="navbar-right"><button type="button" class="btn btn-success navbar-btn">Create issue</button></a></li>
                    <li><a href="/logout" class="navbar-right"><button type="button" class="btn btn-danger navbar-btn">Log out</button></a></li>
                    </li><a href="/user/<%= loggedUser._id %>" class="navbar-right"><h3><%= loggedUser.email %></h3></a>
                    <% } %>
                </ul>

            </div>
        </nav>
     <%- body %>

        <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    </body>
</html>